// Colors
$dark-blue: #00013C;
$light-grey: #D1C6AD;
$med-blue: #007E9F;
$orange: #D9652A;
$off-white: #F6E9D6;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$desktop-breakpoint: 45rem;